#latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.xml
*.synctex(busy)

#build products
build/
bin/

#vscode byproducts
.vscode/

#linux byproducts
.fuse_hidden*
